{% extends 'home.html.twig' %}

{% block datos %}

  <div>

  <h1>Formulario para actualizar un productos</h1>

  <form action="{{ path('update_car') }}" method="GET" >
    <input type="hidden" id="id" name="id" required value="{{carArray.id}}"><br>

    <label for="model">Modelo:</label>
    <input type="text" id="model" name="model" required value="{{carArray.model}}"><br>

    <label for="manufacturer">Fabricante:</label>
    <input type="text" id="manufacturer" name="manufacturer" required value="{{carArray.manufacturer}}"><br>

    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" step="0.01" required value="{{carArray.price}}"><br>

    <label for="features">Características:</label>
    <textarea id="features" name="features" rows="4" required >{{carArray.features}}</textarea><br>
    <input type="submit" value="Enviar">
  </form>
  </div>

{% endblock %}