<body>
  <h1>Menú CRUD</h1>

    <a href="{{ path('show_cars_form') }}"><button>Buscar Productos</button></a>

    {% set isAdmin = app.request.cookies.has('admin') %}

    {% if isAdmin == "true" %}
        <a href="{{ path('add_car_form') }}"><button>Añadir Producto</button></a>
        <a href="{{ path('update_car_select') }}"><button>Modificar Productos</button></a>
        <a href="{{ path('delete_car_form') }}"><button>Eliminar Productos</button></a>
    {% endif %}

  {% set isLogged = app.request.cookies.has('sessionEmail') %}

  {% if isLogged == "true" %}
    <a href="{{ path('close_session') }}"><button>Cerrar Sesion</button></a>
  {% else %}
    <a href="{{ path('login_user_form') }}"><button>Iniciar Sesion / Registrarse</button></a>
  {% endif %}
  <hr>

  {% block datos %} {% endblock %}

</body>